<div class="leiaut">
    <div class="cards">
        <div class="card">
            <div class="bloco">
                <img src="https://i.imgur.com/MB0vfil.png">
                <p class="title">Forex</p>
                <button class="btn-card">Mais informações</button>
            </div>
        </div>

        <div class="card">
            <div class="bloco">
                <img src="https://i.imgur.com/IbC2hGc.png">
                <p class="title">Ações</p>
                <button class="btn-card">Mais informações</button>
            </div>
        </div>

        <div class="card">
            <div class="bloco">
                <img src="https://i.imgur.com/asaJwBJ.png">
                <p class="title">Criptomoedas</p>
                <button class="btn-card">Mais informações</button>
            </div>
        </div>

        <div class="card">
            <div class="bloco">
                <img src="https://i.imgur.com/YCIf4lm.png">
                <p class="title">Commodities</p>
                <button class="btn-card">Mais informações</button>
            </div>
        </div>
    </div>
</div>

<div class="img-bonus">
    <div class="text">
        <p class="title-bonus">
            Receba até $1000 em seu primeiro depósito
        </p>
        <p class="subtitle-bonus">
            Inicie agora para receber seu bônus e começar a lucrar com o mercado financeiro.
        </p>
    </div>
</div>