<div class="leiaut">
    <div class="cards">
        <div class="card">
            <div class="bloco">
                <img src="https://i.imgur.com/MB0vfil.png">
                <p class="title">{{ "painel-04-01" | translate }}</p>
                <button class="btn-card">{{ "painel-04-05" | translate }}</button>
            </div>
        </div>

        <div class="card">
            <div class="bloco">
                <img src="https://i.imgur.com/IbC2hGc.png">
                <p class="title">{{ "painel-04-02" | translate }}</p>
                <button class="btn-card">{{ "painel-04-05" | translate }}</button>
            </div>
        </div>

        <div class="card">
            <div class="bloco">
                <img src="https://i.imgur.com/asaJwBJ.png">
                <p class="title">{{ "painel-04-03" | translate }}</p>
                <button class="btn-card">{{ "painel-04-05" | translate }}</button>
            </div>
        </div>

        <div class="card">
            <div class="bloco">
                <img src="https://i.imgur.com/YCIf4lm.png">
                <p class="title">{{ "painel-04-04" | translate }}</p>
                <button class="btn-card">{{ "painel-04-05" | translate }}</button>
            </div>
        </div>
    </div>
</div>

<div class="img-bonus">
    <div class="text">
        <p class="title-bonus">{{ "painel-04-06" | translate }}</p>
        <p class="subtitle-bonus">{{ "painel-04-07" | translate }}</p>
    </div>
</div>