<div class="leiaut">
    <div class="blocos">
        <div class="b1">
            <div class="sub">
                <p>{{ "painel-07-01" | translate }}</p>
            </div>
            <div class="title">
                <p>{{ "painel-07-02" | translate }}</p>
            </div>
            <div class="subtitle">
                <p>{{ "painel-07-03" | translate }}</p>
            </div>
            <div class="btns">
                <button class="btn-button-theme">{{ "painel-07-04" | translate }}</button>
            </div>
        </div>
        <div class="b2">
            <img src="https://i.imgur.com/Pvakt6H.png">
        </div>
    </div>
</div>