<div class="leiaut">
    <div class="blocos">
        <div class="b1">
            <div class="sub">
                <p>Visão geral das contas</p>
            </div>
            <div class="title">
                <p>Sua própria conta de trading</p>
            </div>
            <div class="subtitle">
                <p>Fiquei no controle do seu desempenho de trading com a seção de visão geral de sua conta e escolhas a
                    que melhor se adequa a você.</p>
            </div>
            <div class="btns">
                <button class="btn-button-theme">Abrir Conta</button>
            </div>
        </div>
        <div class="b2">
            <img src="https://i.imgur.com/Pvakt6H.png">
        </div>
    </div>
</div>