<div class="leiaut">
    <div class="blocos">
        <div class="b1">
            <div class="title">
                <p>O lugar certo para negociação em todos os mercados financeiros</p>
            </div>
            <div class="subtitle">
                <P>Acesse os mercados globais com execução institucional, spreads competitivos e ferramentas
                    profissionais.</P>
            </div>
            <div class="btn">
                <button class="btn-button-theme">Registrar-se</button>
            </div>
        </div>
    </div>
</div>